#trailer iframe {
  border-radius: 20px;
  width: 96%;
  height: 400px;
  
}

#trailer {
  text-align: center;
  padding: 0px;
  width: 50%;
  display: inline-block;
}

.trailers {
  padding: 15px;
  width: 90%;
}
